.container{
    width: 310px;
    justify-content: "center";
    align-items: "center";
    margin: 20;
    border: "solid";
    border-color: "blue";
    border-style: "double";
    background-color: rgb(105, 151, 136);
    padding: 2rem;
    
};
.card-title{
    overflow: "hidden";
    height: 100px;
    text-overflow: "ellipsis";
}
.card-img-products{
    width: 310px;
    height: 275px;
    object-fit: contain;
}