.App {
  text-align: center;
  font-size: 2rem;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 6%, rgba(9,121,52,1) 78%, rgba(0,212,255,1) 100%);
  border-style: "double";
  color: white;
}
